<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Actionable emails</title>
        <link rel="stylesheet" href="email.css" />
    </head>

    <body itemtype="http://schema.org/EmailMessage">
        <table class="body-wrap">
            <tr>
                <td class="container">
                    <div class="content">
                        <table class="main" itemprop="action" itemtype="http://schema.org/ConfirmAction">
                            <tr>
                                <td class="content-wrap">
                                    <meta itemprop="name" content="Confirm Email" />
                                    <table>
                                        <tr>
                                            <td class="content-block">請點擊以下鏈接確認您的電子郵件地址 。</td>
                                        </tr>
                                        <tr>
                                            <td class="content-block">
                                                我們可能需要向您發送有關我們的重要信息服務，重要的是我們有一個準確的電子郵件地址。
                                            </td>
                                        </tr>
                                        <tr>
                                            <td
                                                class="content-block"
                                                itemprop="handler"
                                                itemtype="http://schema.org/HttpActionHandler"
                                            >
                                                <a href="<%= verificationUrl %>" class="btn-primary" itemprop="url"
                                                    >確認電郵地址</a
                                                >
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="content-block">— The Lunar</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <div class="footer">
                            <table>
                                <tr>
                                    <td class="align-center content-block" align="center">
                                        Follow
                                        <a class="onTwitter">@Lunar</a>
                                        on Twitter.
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </body>
</html>
